---
# tasks file for common-setup-role
#
- name : "Create Groups"
  group:
    name: "{{item}}"
    state: "present"
  with_items:
    - sudo

- name: Add the user 'devops' and add it to 'sudo'
  user:
    name: devops
    create_home: yes 
    state: present 
    generate_ssh_key: true
    ssh_key_file: .ssh/id_rsa 
    ssh_key_type: rsa 

- name: Add devops user to suduers
  shell: "echo 'devops ALL=(ALL) NOPASSWD: ALL' | tee /etc/sudoers.d/devops"

- name: Add SSH key to 'devops'
  authorized_key:
    user: devops
    state: present
    key: "{{ lookup('file', pub_key) }}"

- name: Update all packages
  yum:
    name: '*'
    state: latest
    update_only: yes  

- name: Add extras repository
  shell: yum-config-manager --enable extras  

- name: Install alternatives
  shell: alternatives --install /usr/bin/java java /usr/java/latest/bin/java 1

- name: Install extras epel
  shell: amazon-linux-extras install -y epel