---
# tasks file for jenkins-agent
#
- name: Install java
  yum:
    name: 'java-1.8.0'
    state: present
    update_cache: yes
  
- name: Install httpd
  shell: yum install -y httpd

- name: Enable httpd service at startup
  service:
    name: httpd
    state: started
    enabled: yes
- name: Hello World
  shell: echo "<h1>Hello World from $(hostname -f)</h1>" > /var/www/html/index.html

#- name: Create NodeExporter directory
  #shell: mkdir -p /home/ec2-user/node_exporter

- name: Download Swarm client
  shell: "wget {{ JENKINS_MASTER_URL }}:8080/swarm/swarm-client.jar"

- name: Register agent
  shell: "java -jar swarm-client.jar -url http://{{ JENKINS_MASTER_URL }}:8080 -username {{ USER }} -password {{ PASS }} -name EC2 -fsroot jenkins"

- name: Download Jenkins CLI
  shell: "wget {{ JENKINS_MASTER_URL }}:8080/jnlpJars/jenkins-cli.jar"

- name: Install aws-cli
  shell: pip install awscli

- name : "Create Groups"
  group:
    name: "{{ item }}"
    state: "present" 
  with_items:
    - sudo

- name: Add the user 'ec2-user' and add it to 'sudo'
  user:
    name: ec2-user
    create_home: yes 
    state: present 
    generate_ssh_key: false
    # ssh_key_file: .ssh/id_rsa 
    # ssh_key_type: rsa 

- name: Add devops user to suduers
  shell: "echo 'ec2-user ALL=(ALL) NOPASSWD: ALL' | tee /etc/sudoers.d/devops"

- name: Add SSH key to 'devops'
  authorized_key:
    user: ec2-user
    state: present
    key: "{{ lookup('file', pub_key) }}"